@import "variable";

.header-container {
  margin-top: 2*$gutter;
  margin-bottom: 2*$gutter;
}

.header-items {
  display: inline;
  margin-right: $gutter;
}

.header-items {
  padding: calc($gutter / 4);
}

.header-items .active {
  color: $white;
  border-bottom: solid 1px $gold-highlight;
  text-decoration: none;
}
