$break-xs: 320px;
$break-s: 768px;
$break-m: 1024px;
$break-l: 1366px;
$break-xl: 1920px;

html,
body {
 min-height: 100%;
 height: 100%;
}

html {
 font-size: 16px;
}

body {
 position: relative;
 font-size: 100%;
}

.container {
  @media screen and (min-width: $break-xs) {
    width: 100%;
  }
  @media screen and (min-width: $break-s) {
    width: 90%;
  }
  @media screen and (min-width: $break-m) {
    width: 85%;
  }
  @media screen and (min-width: $break-l) {
    width: 80%;
  }
}
