@import url('https://fonts.googleapis.com/css?family=Assistant:400');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');
@import "variable";

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-size: 100%;
  font-family: 'Assistant', 'sans-serif';
  font-weight: 400;
  background-color: $navy-blue;
  color: $white;
  line-height: 1.5rem;
}

.container {
  width: 100%;

  @media screen and (min-width: $break-sm) {
    width: 90%;
  }
  @media screen and (min-width: $break-md) {
    width: 80%;
  }
  @media screen and (min-width: $break-lg) {
    width: 70%;
  }
  @media screen and (min-width: $break-xl) {
    width: 60%;
  }
}

h1 {
  text-align: center;
  font-family: Lora;
  font-style: italic;
  font-size: 36px;
  margin: 0;


  @media screen and (min-width: $break-md) {
    font-size: 64px;
    margin: $gutter 0 $gutter 0;
  }
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: $gold-highlight;
  text-align: left;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: $gutter 0 $gutter 0;
}

.section-title {
  margin: $gutter 0 $gutter 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;
  padding-bottom: $gutter / 2;
}

a:hover, a:focus, a:active {
  color: $gold-highlight;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.hline-seperator {
  border-top: $gold-highlight solid 1px;
  width: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hline-seperator--centered {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.hline-top {
  border-top: $gold-highlight solid 2px;
  width: 100%;
  margin-bottom: $gutter;
}


// SPINNER LOADER
// https://github.com/tobiasahlin/SpinKit/blob/master/css/spinners/9-cube-grid.css
.sk-cube-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  margin: 20px auto;
  /*
  * Spinner positions
  * 1 2 3
  * 4 5 6
  * 7 8 9
  */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    margin: 2px;
    background-color: $gold-highlight;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1); }
      35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }

.highlight {
  color: $gold-highlight
}


.link {
  color: $white;
  border-bottom: $gold-highlight solid 1px;
}

.link:hover {
  color: $gold-highlight;
}

.link-small {
  padding-bottom: $gutter/8;
}

.heart-icon {
  color: #c7203a;
}
