@import url('https://fonts.googleapis.com/css?family=Assistant:400');

// Breakpoints
$break-xs: 320px;
$break-s: 768px;
$break-m: 1024px;
$break-l: 1366px;
$break-xl: 1920px;

// Spacing
$gutter: 1rem;

// Colors
$navy-blue: #1e2b31;
$gold-highlight: #9b8f78;
$white: #fff;

html,
body {
 min-height: 100%;
 height: 100%;
}

html {
 font-size: 16px;
}

body {
 position: relative;
 font-size: 100%;
 font-family: 'Assistant', 'sans-serif';
 font-weight: 400;
 background-color: #f1f4f6;
 color: $navy-blue;
}

.container {
  @media screen and (min-width: $break-xs) {
    width: 100%;
  }
  @media screen and (min-width: $break-s) {
    width: 80%;
  }
  @media screen and (min-width: $break-m) {
    width: 75%;
  }
  @media screen and (min-width: $break-l) {
    width: 70%;
  }
}

h1 {
  text-align: center;
  padding: $gutter 0 $gutter 0;
  border-bottom: $gold-highlight solid 2px;
  font-size: 40px;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: $gutter 0 $gutter 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

a {
  color: $navy-blue;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: $navy-blue;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.hline-seperator {
  border-top: $gold-highlight solid 1px;
  width: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hline-top {
  border-top: $gold-highlight solid 2px;
  width: 100%;
  margin-bottom: $gutter;
}
