// Breakpoints
// $break-xxs: 320px;
// $break-xs: 480px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// Spacing
$gutter: 1rem;

// Colors
$navy-blue: #1e2b31;
$gold-highlight: #9b8f78;
$white: #fff;
$black: #111;

$transition: all 3s ease-in-out;
