// Breakpoints
// $break-xxs: 320px;
// $break-xs: 480px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1440px;

// Spacing
$gutter: 1rem;

// Colors
// $white: $navy-blue;
// $gold-highlight: $gold-highlight;
// $gold-highlight: $white;
// $navy-blue: #111;
// $navy-blue: #f1f4f6;

$white: #fff;
$gold-highlight: #9b8f78;
$navy-blue: #1e2b31;
$light-gray: #f1f4f6;

$transition: all 3s ease-in-out;
