// Breakpoints
// $break-xxs: 320px;
// $break-xs: 480px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// Spacing
$gutter: 1rem;

// Colors
// $navy-blue: #1e2b31;
// $gold-highlight: #9b8f78;
// $white: #fff;
// $black: #111;
// $light-grey: #f1f4f6;

$navy-blue: #fff;
$gold-highlight: #9b8f78;
$white: #9b8f78;
$black: #1e2b31;
$light-grey: #1e2b31;

$transition: all 3s ease-in-out;
