@import "variable";

.card-wrapper {
  display: inline-block;
  padding-top: $gutter / 2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $gutter;
  margin-top: $gutter;
  // background-color: $white;
  cursor: pointer;
}

@media screen and (min-width: $break-md) {
  .row-item:nth-child(2n + 1) {
    clear: left;
  }
}

@media screen and (min-width: $break-lg) {
  .row-item:nth-child(2n + 1) {
    clear: unset;
  }
  .row-item:nth-child(3n + 1) {
    clear: left;
  }
}

.card {
  position: relative;
  overflow: hidden;
  margin-bottom: $gutter;
}

.card-thumbnail {
  max-width: 100%;
  height: auto;
}

.card-title {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.card-description {
  color: $gold-highlight;
}
