@import "variable";

.card-wrapper {
  display: inline-block;
  padding-top: $gutter / 2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $gutter;
  margin-top: $gutter;
  width: 100%;
  // background-color: $gold-highlight;
  cursor: pointer;
}

@media screen and (min-width: $break-md) {
  .row-item:nth-child(2n + 1) {
    clear: left;
  }
}

@media screen and (min-width: $break-lg) {
  .row-item:nth-child(2n + 1) {
    clear: unset;
  }
  .row-item:nth-child(3n + 1) {
    clear: left;
  }
}

.card {
  position: relative;
  overflow: hidden;
  margin-bottom: $gutter;
}

.card-title {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.card-description {
  color: $white;
}

.card-thumbnail {
  max-width: 70%;
  height: auto;

  @media screen and (min-width: $break-sm) {
    max-width: 80%;
  }
  @media screen and (min-width: $break-md) {
    max-width: 90%;
  }
  @media screen and (min-width: $break-lg) {
    max-width: 100%;
  }
}
