@import "variable";

svg {
  margin: auto;
  display: block;
}


.dots-straightline-container {
  margin: 2*$gutter 0 2*$gutter 0;
}

.straightLines {
  stroke: $light-gray;
  stroke-width: 1px;
  stroke-opacity: 0.3;
}

.straightCircles {
  fill: $navy-blue;
  stroke: $gold-highlight;
}

.centralCircle {
  fill: $navy-blue;
}

/*Slider*/
.input-range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 1px;
  border: 1px solid #BFBFBF;
  background-color: #fff;
  outline: 0;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $gold-highlight;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.slider-container {
  text-align: center;
}

.slider-container p {
  margin: $gutter 0 $gutter 0;
}

.range-container {
  width: 30%;
  text-align: center;
  display: inline-block;
}
