@import "variable";

.input-range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 1px;
  border: 1px solid #BFBFBF;
  background-color: #fff;
  outline: 0;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $gold-highlight;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.range-container {
  width: 100%;
  margin: $gutter * 2 0 $gutter * 2 0;
  text-align: center;
  display: inline-block;
}
