@import "variable";

.title-container {
  height: 100vh;
  width: 100%;
}

.container--vertical-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title-wrapper {
  text-align: center;
}

.subtitle-container {
  text-align: center;
  margin: 2*$gutter;
  font-family: Lora;
  font-style: italic;

  @media screen and (min-width: $break-md) {
    margin: 2*$gutter 4*$gutter 2*$gutter 4*$gutter;
  }

  @media screen and (min-width: $break-lg) {
    margin: 2*$gutter 6*$gutter 2*$gutter 6*$gutter;
  }
}

.author-container {
  text-align: center;
}

.author-container p {
  display: inline-block;
  color: $gold-highlight;
}

.author-container span {
  display: inline-block;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  color: $white;
}
