$black: #111;
$transition: all .25s ease-in-out;
$gutter: 1rem;

.gallery-container {
 text-align: center;
 background-color: #ffffff;
 margin-top: $gutter;
 margin-bottom: $gutter;
 display: inline-block;
}

.gallery-wrapper {
  display: inline-block;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-right: auto;
  margin-left: auto;
}

.gallery-title-container {
  background-color: #ffffff;
  margin-top: 2*$gutter;
  margin-bottom: $gutter;
}


.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: $gutter;
}

.gallery-thumbnail {
  max-width: 100%;
  height: auto;
}

.gallery-title {
  margin: $gutter 0 $gutter 0;
  text-align: left;
}

.gallery-description {
  font-size: 14px;
  margin-bottom: $gutter;
  text-align: left;
}

.card-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: $transition;

  &:focus,
  &:hover {
    color: $black;
  }
}

.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
  opacity: 1;
}
