@import "variable";

.gallery-container {
 text-align: center;
 // background-color: $gold-highlight;
 margin-top: $gutter;
 margin-bottom: $gutter;
 display: inline-block;
}

.gallery-wrapper {
  display: inline-block;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-right: auto;
  margin-left: auto;
}

.gallery-placeholder {
  position: relative;
}

.gallery-title-container {
  margin-top: 2*$gutter;
  margin-bottom: $gutter;
}

.gallery-title {
  font-size: 40px;
}

.gallery-metadata-container {
  text-align: center;
}

.gallery-metadata-item {
  display: inline-block;
  padding-left: calc($gutter / 2);
  padding-right: calc($gutter / 2);
  color: $gold-highlight;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 6*$gutter;

  @media screen and (min-width: $break-lg) {
    margin-left: calc(50% - 49vw);
    margin-right: calc(50% - 49vw);
  }
}

.gallery-thumbnail {
  max-width: 100%;
  height: auto;
  max-height: 90vh;

  @media screen and (min-width: $break-lg) {
    max-width: 80%;
  }
}

.gallery-title {
  margin: $gutter 0 $gutter 0;
}

.gallery-description {
  font-size: 14px;
  margin-bottom: $gutter;
  text-align: left;
}

.card-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: $white;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: $transition;
}
