@import "variable";


.mainSVG{
    margin : 2*$gutter auto 2*$gutter auto;
    display : block;
}

.button {
	background-color: $navy-blue;
	border: 1px solid $gold-highlight;
	cursor: pointer;
	color: $white;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px $gold-highlight;
  margin: 20px auto 20px auto;
  display: block;
}

.button:hover {
	background-color: $gold-highlight;
}
