@import "variable";

.ImageMappingProcessing-title {
  margin: $gutter 0 $gutter 0;
}

.ImageMappingProcessing canvas {
   margin: auto;
   display: block;
}

.section-container {
  position: absolute;
  left: 0;
  background-color: #f4efe4;
  width: 100%;
  top: 100%;
  height: 100%;
}

.section-wrapper {
  margin: 5vh;

  @media screen and (min-width: $break-md) {
    margin:10vh;
  }
  @media screen and (min-width: $break-xl) {
    margin: 15vh;
  }
}

.section-container--second {
  top: 200%;
  background-color: #001274;
}

.section-container--third {
  top: 300%;
  background-color: $navy-blue;
}

.section-container--half {
  height: 50%;
}
