@import "variable";

.ImageMappingProcessing-title {
  margin: $gutter * 2 0 $gutter * 2 0;
}

.ImageMappingProcessing canvas {
   margin: auto;
   display: block;
}


.section--beige {
  background-color: #f4efe4;
}

.section--red {
  background-color: #c7203a;
}

.section--blue {
  background-color: $navy-blue;
}
