@import "variable";

.section-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $gold-highlight;
}

.section-wrapper {
  margin: 5vh;

  @media screen and (min-width: $break-md) {
    margin:10vh;
  }
  @media screen and (min-width: $break-xl) {
    margin: 15vh;
  }
}


/*** Bar graph ***/
.bar-graph-container {
  width: 100%;
  // height: auto;
  dominant-baseline: hanging;
}

.season-number {
  fill: black;
}
